/*Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*Varibles */
:root {
    --font-size:1rem;
}

/****************** second main ***/
.title_up_main{
    width: 100%;
    height: 60px;
    background-color: #f2f5f8;
    text-align: center;
}

.title_up .title-first{
   /* position: absolute; /* postulat de départ */
   /* top: 50%; 
    left: 50%; /* à 50%/50% du parent référent */
   /* transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

/****************************** Third main ***********************************/
.section-main{
    padding: 0px;
    margin: 0px;
}

.section-first{
    width: 920px;
    float: left;
   
}
.section-second{
    width: 920px;
    float: left;
   
}

.section-third{
    width: 920px;
    float: left;
   
}

.header_icon
{
	width: 40px;
	height: 40px;
	/*margin: 10px;*/
}
/********************************************************************************/
.twitter-mode{
    --navbar-color:#222;
    --navbar-bg-text-color:#FFF;
    --navbar-bg-color:rgb(29, 155, 240);
}

.facebook-mode{
    --navbar-color:#222;
    --navbar-bg-color:#166fe5;
}

.dark-mode{
    --navbar-color:#FFF;
    --navbar-bg-color:#000;
}

/*Reset */ 
*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

/* Basic style */
body{
    /*margin:0;*/
    top: 0px;
    font-size:var(--font-size);
    font-family: 'Poppins', sans-serif;
}
/*Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    font-size:1.1rem;
    /*background-color: var(--navbar-color);*/
    background-color: var(--navbar-bg-color);
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.navbar__links{
    display: flex;
}

.navbar__link{
    padding: 0 10px;
}

.navbar__link > a {
    text-decoration: none;
    color:var(--navbar-bg-text-color);
}

.burger {
    display: none;
}

.navbar__logo {
    display: flex;
    position: absolute;
    right: 5px;

}

.header_title {
    display: block;
    color: white;
    margin-left: auto;
    margin-right: auto 
}

.main_content{
	height: 600px;
	font-size: 50px;
	background-color: #000000;
	background-image: url('canoe.jpg');
	background-position: center;
	background-size: cover;
	color:white;
	padding: 1em;
	text-align: center;
    text-shadow: 1px 1px 2px black;
}

/* small devices */
@media screen and (max-width:767.98px) {
   .navbar__links {
        overflow:hidden;
        display:flex;
        flex-direction:column;
        width:0;
        height:calc(100vh - 65px);  
        position:absolute;
        top: 65px;
        left: 0;
        height: 100%;
        background-color: var(--navbar-bg-color);
        transition: .5s ease-in-out;
    }
    .show-nav .navbar__links {
        width: 300;
        height: 100%;
    }

    .show-nav .navbar__links ::after{
        visibility: hidden;
    }

    .navbar__links > a::after {
        transform: translateX(101%);
    }

        
    .navbar__link {
        transform: translateX(101%);
    }
    .show-nav .navbar__link {
        transform: translateX(0);
    }
    .navbar__link > a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        transition: all .4s ease-in-out;
    }

    .navbar__link > a:hover {
        padding-left: 2rem;
        font-size: 1.6rem;
        letter-spacing: 5px;
    }
    /* toggle menu */
    .burger{
        display: block;
        position: relative;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }   

    .bar {
        display: block;
        width: 45px;
        height: 4px;
        background: var(--navbar-bg-text-color);
        border-radius: 3px;
        transition: all .5s ease-in-out;  
    }
    .show-nav .bar {
        width: 0;
        background: transparent;
    }
    /*.show-nav .bar {
         width: 0;
         background: transparent;
    }*/
    .bar::before, .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--navbar-bg-text-color);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    
    .bar::before {
        transform: translateY(-12px);
    }
    .show-nav .bar::before {
        transform:rotate(-45deg);
    }
    .bar::after {
        transform: translateY(12px);
    }
    .show-nav .bar::after {
        transform:rotate(45deg);
    }

    /*animation*/
    .show-nav .first {
        transition: all 1.1s ease-in-out;
    }

    .show-nav .second {
        transition: all 1.2s ease-in-out;
    }

    .show-nav .third {
        transition: all 1.3s ease-in-out;
    }

 }



/* togg;es menu */

/* animatiom */

/*mediim devices */
@media screen and (min-width:768px) {
    .navbar__link > a::after {
        display: block;
        content: "";
        width: 0;
        height: 1px;
        background: var(--navbar-color);
        transition: width .4s;
    }
    .navbar__link:hover > a::after {
        width: 100%;
    }
}
